@font-face {
  font-family: "Roboto";
  src: url("https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/webfonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('https://s3-ap-southeast-2.amazonaws.com/assets.i-motor.com.au/webfonts/Roboto-Bold.woff2') format('woff2');
}

:root {
  --fontRegular: "Roboto", sans-serif;
  --fontBold: "Roboto Bold", sans-serif;
  --white: #fff;
  --black: #000;
  --black5: #f2f2f2;
  --blue: #428fbd;
  --red: #ff5722;
  --purple: #734f79;
  --primaryColour: purple;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Remove default margin
* {
  margin: 0;
}

// Allow percentage-based heights in the application
html,
body {
  height: 100%;
}

html {
  width: 100%;
  overflow: hidden; // ? needed ?
}

body {
  font-family: var(--fontRegular);
  line-height: 1.5;
  margin: 0;
  background-color: var(--black5);

  overflow: auto;
  color: var(--black);
}

//  Improve media defaults
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: 100%;
}

// Remove built-in form typography styles
input,
button,
textarea,
select {
  font: inherit;
}

// 8. Avoid text overflows
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

strong {
  font-family: var(--fontBold);
}

hr {
  margin-block: 24px;
}

.container {
  max-width: 1280px;
  margin-inline: auto;
}

.containerPadded {
  max-width: 1280px;
  margin-inline: auto;
  padding: 1em;
}

.preHightlighted {
  background-color: #26292E;
  color: #0088FF;
  font-style: italic;
  padding: 10px;
  white-space: pre-line;
}

// stock-fetcher {
//   --primaryCol: var(--primaryColour) ; /* Override primary color */
// }
